@import "variables";

#other_packages_cnt_sec {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    #other_packages_cnt_div {
      width: 90%;
      padding: 0 0 30px 0;
      #op_cnt_sec_heading {
        font-weight: 500;
        font-size: 32px;
        margin: 1rem 0;
      }
      #op_cnt_sec_products {
        .op_cnt_sec_products_col {
          display: flex;
          justify-content: center;
        }
      }
    }
  }